.App {
  text-align: center;
  font-family: "Roboto";
}
.box {
  max-width: 1020px;
  padding: 0 24px;
  margin-left: auto;
  margin-right: auto;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.no_heros {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  padding: 30px;
  font-weight: 500;
}

.image {
  display: flex;
  justify-content: center;
  margin: 86px 24px 0;
}
img {
  max-width: 100%;
  height: auto;
}
.login {
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0px 0px;
  width: 150px;
  padding: 15px 20px;
  align-items: center;
  justify-content: space-around;
  border-radius: 24px;
  border-color: #cdcccc1b;
  background-color: white;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
}
.logout {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0px 0px;
}
.buttonLogOut {
  width: 150px;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: #cdcccc1b;
  background-color: white;
  box-shadow: 0px 16px 60px rgba(78, 79, 114, 0.08);
}
.buttonText {
  color: #020407;
  font-weight: bolder;
  padding-left: 0;
}

.google {
  height: 25px;
  width: 25px;
}
.profile {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .buttonLogOut {
    width: 100px;
    padding: 9px 12px;
  }
  .profile {
    height: 30px;
    width: 30px;
  }
  .login {
    width: 100px;
  }
  .buttonText {
    font-size: 12px;
  }
}
